<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77602667380-lls6cd0i07ad5om637uqmdv5ojrhairr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77602667380-lls6cd0i07ad5om637uqmdv5ojrhairr</string>
	<key>API_KEY</key>
	<string>AIzaSyBCZiX-xSicwKkhvgzI3_HURmE6xmm4US4</string>
	<key>GCM_SENDER_ID</key>
	<string>77602667380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.share</string>
	<key>PROJECT_ID</key>
	<string>share-8dacf</string>
	<key>STORAGE_BUCKET</key>
	<string>share-8dacf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77602667380:ios:ba0736f3409ecfb08dca21</string>
</dict>
</plist>